/* You can add global styles to this file, and also import other style files */


/* -------------------------------------------------------------------------- */
/*                                FARMACIA CUYO                               */
/* -------------------------------------------------------------------------- */

$background-numeros: #f8f9fa;
$background-numeros-general: #e9ecef;
$background-pantalla: #DB015B;
$texto-numeros : #FFFFFF;
$logo-imagen: "./../../../assets/imagenes/logo-cuyo.png";
   


/* -------------------------------------------------------------------------- */
/*                                 FARMATOTAL                                 */
/* -------------------------------------------------------------------------- */


/* $background-numeros: #f8f9fa;
$background-numeros-general: #e9ecef;
$background-pantalla: #219ebc;
$texto-numeros : #6C6D74;
$logo-imagen: "./../../../assets/imagenes/logo-farmatotal.png"; */





/* -------------------------------------------------------------------------- */
/*                                   KATSUDA                                  */
/* -------------------------------------------------------------------------- */


//$background-numeros: #DB015B;
//$texto-numeros : #FFFFFF;
* body{
    background-color: $background-pantalla; 
}